dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*.swp
*shake*
Tools/BuildPricingSources
Tools/PricingSourceAbbreviations.hs
Tools/PricingSourceCategories.hs
Tools/PricingSourceDescriptions.hs
Tools/PricingSources.hs
